<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление спутника</title>
    <style>
        th, td{
            border: solid black;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="/fragments/header :: headerMain"></header>
<h1>Добавление спутника</h1>

<form method="post">
    <label>Название спутника</label>
    <input class="form-control" type="text" name="name" placeholder="Название спутника">
    <label>Планета</label>
    <input class="form-control" type="text" name="planeta" placeholder="Планета">
    <label>Вес(в кг)</label>
    <input class="form-control" type="number" name="ves" placeholder="Вес(в кг)">
    <label>Страна</label>
    <input class="form-control" type="text" name="strana" placeholder="Страна">
    <label>Год запуска</label>
    <input class="form-control" type="number" name="years" placeholder="Год запуска">
    <input class="btn btn-success" type="submit" value="Добавить спутник">
</form>
<a class="btn btn-danger" href="/sputnik/">Назад</a>
</body>
</html>