<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Планета</title>
    <style>
        th, td{
            border: solid black;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="/fragments/header :: headerMain"></header>
<div class="container">
<h1 th:text="'Планета: ' +${one_planet.name}" ></h1>
<div class="container">
    <h2 th:text="'Расстояние от солнца: ' +${one_planet.rasstotsol}+' км'"></h2>
    <h2 th:text="'Диаметр: ' +${one_planet.diametr}+' км'"></h2>
    <h2 th:text="'Продолжительность года: ' +${one_planet.prodgoda} +' земных суток'"></h2>
    <h2 th:text="'Количество спутников: ' +${one_planet.kolsput} +' шт'"></h2>
</div>
<a class="btn btn-danger" href="/planet/">Назад</a>
</div>
</body>
</html>