<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление планет</title>
    <style>
        th, td{
            border: solid black;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="/fragments/header :: headerMain"></header>

<h1>Добавление планеты</h1>
<form method="post">
    <label>Название планеты</label>
    <input class="form-control" type="text" name="name" placeholder="Название планеты">
    <label>Расстояние от солнца(в км)</label>
    <input class="form-control" type="number" name="rasstotsol" placeholder="Расстояние от солнца(в км)">
    <label>Диаметр(в км)</label>
    <input class="form-control" type="number" name="diametr" placeholder="Диаметр(в км)">
    <label>Продолжительность года</label>
    <input class="form-control" type="number" name="prodgoda" placeholder="Продолжительность года">
    <label>Количество спутников</label>
    <input class="form-control" type="number" name="kolsput" placeholder="Количество спутников">
    <input class="btn btn-success" type="submit" value="Добавить планету">
</form>
<a class="btn btn-danger" href="/planet/">Назад</a>
</body>
</html>